body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#webcam-container {
    margin-top: 20px;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#label-container div {
    margin-top: 10px;
    font-size: 18px;
}
