/* body {
  background: #fffbf5;
} */

.master {
  display: flex;
  box-sizing: border-box;
}

.dashboard {
  background: white;
  width: 80%;
  margin: 20px auto;
  min-height: 80vh;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(189, 189, 189, 0.429);
  overflow: hidden;
}
