.scard {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(189, 189, 189, 0.429);
  margin: 10px;
  padding: 30px;
  width: 250px;
  height: fit-content;
  box-sizing: border-box;
}

.scard-header {
  font-weight: 500;
  font-size: 17px;
  /* text-align: center; */
}

.scard-body {
  padding: 10px 0;
}
