.card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(189, 189, 189, 0.429);
  margin: 20px;
  padding: 20px;
}

.card-header {
  /* border-bottom: 1px solid #eee; */
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
